:root {
    --main-color: #0F0771;
    --color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin-top: 10px; */
    background-color: var(--main-color);
    /* border-bottom-right-radius: 18.75rem; */
    width: 100%;
    height: 10%;
    
}

header .img1 {
    margin-left: 1rem;
}

header span {
    margin-left: 26rem;
    font-size: 1.5rem;
}

header p {
    color: white;
    text-transform: capitalize;
    margin-left: 3rem;
    font-size: 1.9rem;
    letter-spacing: -1px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    word-spacing: 1rem;
    margin-top: 1.5rem;
}

#carouselExample {
    margin-top: 0;
}

#carouselExample img {
    height: 480px;
}

.nav-item a {
    color: #0F0771;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid a {
    color: #0F0771;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.navbar .btn {
    margin-left: 2px;
    color: white;
    background: #0F0771;
    animation: change 2s linear 1s infinite;
    border: none;
}

@keyframes change {
    from {
        background-color: red;
        color: white;
    }

    to {
        background-color: #0F0771;
        color: white;
    }
}
/* committee css */
.commitee .card img {
    border-radius: 50%;
    width: 15rem;
    height: 11rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    border: none;
}
.commitee .card:hover{
    background:linear-gradient(#0F0771,white)
}
.commitee {
    height: 28rem;
    border: 2px solid;
    background-color: #0F0771;
}

.commitee h1 {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

#cmtdiv {
    margin-top: 1rem;
}

/* facility css */
.facility h1 {
    font-size: 3rem;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    color: #0F0771;
}

.facility .card {
    margin: 0.5rem;
}
.departments {
    margin-top: 1rem;
}
.departments h1 {
    text-align: center;
    margin-top: 1rem;
    /* color:#0F0771; */
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.departments img {
    border: none;
    margin-left: 0.5rem;
}

.departments .container {
    margin-top: 1rem;
}

.departments {
    border: 2px solid;
    background-color: #0F0771;
    height: 22rem;
}

.addprgm h1 {
    text-align: center;
    margin-top: 1rem;
    color:#0F0771;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.addprgm .card-body{
    background-color: #0F0771;
    color: white;
    text-align: center;
    /* margin-left:0.4rem; */
    text-decoration: underline;
}
.gallery{
    background-color: #0F0771;
    margin-top: 1rem;
    }
.gallery h1{
    text-align: center;
    margin-top: 1rem;
    color:white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.glrgrp{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.incre h1{
    text-align: center;
    margin-top: 1rem;
    color:#0F0771;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;  
}
.incre .counter{
    color: #0F0771;
    text-align: center;
}
.incre .card-text{
    text-align: center;
    color: #0F0771;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.incre .container{
    margin-top: 1rem;
}
footer{
    background-color: #0F0771;
    margin-top: 1rem;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: white;
}
footer map{
    width: 100px;
    height: 100px;
}
.icon i{
    margin-top: 2rem;
}
.nss h1{
    text-decoration: underline;
    margin-top: 1rem;
    color: #0F0771;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.nss p{
    color: #0F0771;
    font-family: 'Times New Roman', Times, serif;
}
.nss .container .card{
    margin-top: 1rem;
}
.nss .container .card-body{
    background-color: #0F0771;
    color: white;
    text-align: center;
}
.nss .container .card img{
    transition: all 0.2s;
}
.nss .container .card img:hover{
    transform: scale(1.02);
      }
      /* about page */
      .about h1{
        margin-top: 1rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
      }
      .about h1::after{
            content: "";
            position: absolute;
            display: block;
            left: 4vw;
            width: 93%;
            height: 0.5vw;
            background-color: #0F0771;
        }
        .about img{
            margin-top: 1rem;
            margin-left: 1rem;
            padding-right: 1rem;
          }
          /* .about img:hover{
            border-radius: 100%;
          } */
        
        .about p {
            font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-right: 1rem;
          padding: 1rem;
         }
        .about .card{
            margin-top: 2rem;
            border: 5px solid #0F0771;
            background-color: lightgrey;
        }
        .about .card img{
            margin-left: 0.5rem;
            width: 8rem;
        }
        .about .c1 :hover{
            background-color:gray;
            color: white;
        }
        /* principal page */
        .prinpag h1{
           margin-top: 1rem; 
           font-family: 'Times New Roman', Times, serif;
           font-weight: 600;
           font-size: 4rem;
           text-decoration: underline;
        }
        .prinpag .sp1,.sp2{
            margin-left: 39rem;
        }
       .prin .pimg {
            border-radius: 50%;
            float: left;
            shape-outside: circle();
            margin: 30px 30px 30px 0;
            box-shadow: 4px 4px 6px 5px black;
}
.prin {
    /* margin-left: 10rem; */
    margin-top: 1rem;
    padding: 1rem;
    word-spacing: 0.2rem;
  box-sizing: border-box;
    /* border: 20px solid darkblue; */
    box-shadow: 5px 5px 80px 10px rgb(162, 162, 248);
    border: 15px solid darkblue;
    border-left-style: none;
    border-right-style: none;
    font-weight: 600;
   }

   /* course page */
   #course .btn{
    background-color: #0F0771;
    color: white;
    margin-left: 2rem;
   }
   #course a{
    color: white;
    text-decoration: none;
   }
  #course .bcom .bcomdiv .btn{
    margin-left:2rem;
 }
 #course .btn:hover{
    border: 2px solid #0F0771;
 }
 /* pg page css */
 .pgcourse{
    margin-top: 1rem;
 }
 .pgcourse .btn{
    margin-left: 2rem;
    background-color: #0F0771;
    color: white;
 }
 .pgcourse .btn:hover{
    border: 2px solid #0F0771;
 }
 /* footer css */
 footer .map iframe{
    width: 25rem;
    height: 20rem;
 }
   footer  input{
    margin-bottom:0.5rem;
   }
   footer .linked{
    margin-bottom: 0.5rem;
   }
   /* alumni page css */
   .alumni h1{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    text-transform: capitalize;
}
.alumnicontainer{
    position: relative;
    left: 5rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    
    /* border: 2px solid; */
    }
.alumnicontainer .alumnicard{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 15px;
}
.alumnicontainer .alumnicard .alumniimg,
.alumnicontainer .alumnicard .alumnicontent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.alumnicontainer .alumnicard .alumniimg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.alumnicontainer .alumnicard .alumnicontent::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--color);
    transition: 0.5s;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin:right;
    transition-delay: 0.5s;
}
.alumnicontainer .alumnicard:hover .alumnicontent::before{
    transform: scaleX(1);
    transition:transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}
.alumnicontainer .alumnicard .alumnicontent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alumnicontainer .alumnicard .alumnicontent .almncontent{
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-10px);
    transition-delay: 0s;
}
.alumnicontainer .alumnicard .alumnicontent .alumnicontent{
transform: translate(0px);
}
.alumnicontainer .alumnicard .alumnicontent .almncontent h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.alumnicontainer .alumnicard  .alumnicontent .almncontent p{
font-size: 1em; 
line-height:1.4em;
font-weight: 300;
} 

.ug h1{
    margin-top: 1rem;
    text-decoration: underline;
    
}
.ug h2{
    margin-top: 1rem;
}
/* Infrastructure */

.h11{
    text-align: center;
}
.img{
    border: none;
    transition: all 0.2s;
}
.img:hover{
    transform: scale(1.02);
}
.img1{
    transition: all 0.2s;
}
.img1:hover{
    transform: scale(1.02);
}
.hrr{
    margin-left: 5rem;
    border: 5px solid red;
}
/* .hline{
    border: 5px solid  #0F0771;
    margin-left: 3rem;
    margin-right: 3rem;
   } */
   .horline::after{
    content: "";
    position: absolute;
    display: block;
    right: 1rem;
    width: 60%;
    height: 0.7rem;
    background-color: #0F0771;
    top: 4.6rem;
}
.horline1::after{
    content: "";
    position: absolute;
    display: block;
    left: 1rem;
    width: 62%;
    height: 0.7rem;
    background-color: #0F0771;
    top: 4.6rem;
}
.card-text1{
margin-left: 5rem;
margin-top: 2rem;
color: #0F0771;
}
.hrr1{
border: 5px solid red;
}
.card-text2{
margin-top: 2rem;
color: #0F0771;
}
   /* result */
   .card11{
    border: 2px solid #0F0771;
    margin-left: 25rem;
    margin-top: 2rem;
    border-radius: 2rem;
   padding: 2rem;
    box-shadow: 2px 3px 8px 3px black;
}
.btn1{
    background-color: #0F0771;
    color: white;
    border-radius: 20rem;
    padding-left: 2rem;
    padding-right:2rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    text-align: center;
}
.card-title11{
    margin-bottom: 2rem;
    color: #0F0771;
    text-transform: uppercase;
}
.card-body11{
    margin: 1rem;
}
.btn11{
    background-color: white;
    color: #0F0771;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 2px solid #0F0771;
}

/* classrom */
.container-fluid{
    margin-left: 5rem;
    margin-right: 5rem;
    color: #0F0771;
   }
.card1{
transition: all 0.2s;
}
.card1:hover{
transform: scale(1.02);
}
.card-title1{
color: #0F0771;
font-size: xx-large;
text-align: center;
}
.p1{
    margin-right: 2rem;
}

/* library */
.libpara{
color:black;
margin-left: 3rem;
margin-left: 3rem;
margin-top: 2rem;
}
.h11{
    color: #0F0771;
    margin-top: 1rem;
    text-decoration: underline;
}
.libsir{
/* color:#0F0771; */
margin-left: 3rem;
}
#card4,#card5 ,#card6, #card7{
    /* border: 4px solid #0F0771; */
    box-shadow: 2px 2px 4px 3px #0F0771;
}
/* laboratories */
.scelab{
    margin-left: 3rem;
    margin-right: 2.5rem;
    color: black;
}
.comh{
    text-align: center;
    margin: 2rem;
    color: #0F0771;
}
/* traninning */
.training1{
    margin-top: 1rem;
}
.card2{
    margin-left: 5rem;
    margin-top: 5rem;
   }
   .card-body1{
    margin-left: 5rem;
    margin-top: 2rem;
   }
   .b1{
    color: blue;
   }
   .training3{
    color: #0F0771;
   }
   .card-title2{
    color: #0F0771;
    font-size: xx-large;
   }
   .p1{
    text-align: center;
    color: #0F0771;
}
.img-fluid{
    box-shadow: 2px 3px 8px 3px black;
}
.training5{
    color: black;
    margin-top: 5rem;
    margin-left: 5rem;
}
.training3{
    margin-left: 1rem;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.training4{
        color: black;
        text-decoration: none;
    }
.b1{
        color: blue;
    }
.hrrr{
    border: 5px solid #0F0771;
    margin-left: 1rem;
    margin-right: 20rem;
}
.pt{
    margin-left: 2rem;
}
.h22{
    font-weight: bold;
   margin-top: 1rem;
   
}
.form-check1{
    /* text-align: center; */
    text-transform: uppercase;
    margin-left: 5rem;
}
.training6{
    margin-left: 4rem;
    font-weight: bold;
}
.hrrrr{
    border: 5px solid #0F0771;
    margin-left: 4rem;
    margin-right: 0rem;
}
#frm,#frm1,#frm2{
    margin-left: 0;
}
.admission1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* subhashchandra bose progr */
.subh h1{
    margin-top: 1rem;
    text-decoration: underline;
    color: #0F0771;
    }
.subh p{
    margin-top: 1rem;
}
.subh .card{
    border: none;
    margin-top: 1rem;
}
.subh .card h1{
    text-decoration: none;
    border-right: none;
    margin-top: 1rem;
    color: #0F0771;
}
#cr1,#cr2{
    border: 2px solid #0F0771;
}
/* sundarpichai program */
.sundar{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 /* .sundar .container{
    background:linear-gradient(to bottom #0F0771,white);
    opacity: 0.5;
 } */
 